input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.boxData {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.boxData:not(:disabled) {
    cursor: auto;
}

.minmaxWight {
    min-width: 500px;
    width: 100%;
}

.selector {
    min-width: 500px;
    width: 48%;
    margin: 1%;
}

.inputBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
